 body {
    background-image: url("../../images/background.jpg"); /* url(/app/images/background.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}
.center {
    text-align: center;
}

.aLeft {
    text-align: left;
}

.aRight {
    text-align: right;
}

.playerImage {
    background-image: url("../../images/defaultPhoto.png");
 }
 