<div class='container-fluid'>
    <div class='row'>
        <!--<div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>-->
        <div class='col-sm-12 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="supplier-footer" style="background-color: white;    bottom: 0;
 
 -moz-box-shadow: 0 0 3px #ccc;
-webkit-box-shadow: 0 0 3px #ccc;
box-shadow: 0 0 3px #ccc;
margin: 0 auto;
position: fixed;  
 
width:230px;left: 50%;
    transform: translate(-50%, 0);">
    <img src="./../../images/Sebvision-logo.png" style="    margin-left: 8px;width: 100px;"/>
    <img src="./../../images/supersportlogo.jpg" style="     margin-right: 8px;
    height: 33px;
    float: right;"/>
                    </div>